<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>sections</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>search</span>
			</li>
		</ul>
	</nav>

	<nav class="right-nav">
		<ul>
			<li id="subscribe_btn">
				<button type="button" class="right_side_btn">Subscribe now</button>
			</li>
			<li id="log_in_btn">
				<button type="button" class="right_side_btn">Log In</button>
			</li>
			<li id="settings_btn">
					<button class="button settings_button">
						<i id="cog" class="fas fa-cog"></i>
					</button>
			</li>
		</ul>
	</nav>
</header>