<div>
  <header class="sections-nav">
    <ul>
      <li><button>World</button></li>
      <li><button>San Francisco</button></li>
      <li><button>New York</button></li>
      <li><button>Bootcamp Prep</button></li>
      <li><button>Jumpstart</button></li>
      <li><button>Online</button></li>
      <li><button>Marketing</button></li>
      <li><button>Sales</button></li>
      <li><button>TalentMatch</button></li>
      <li><button>Alumni</button></li>
      <li><a href="/localhost:3000/">All</a></li>
    </ul>
  </header>
</div>










