.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
  font-family: $sans-serif;
}

.left-nav {
  
  > ul {
    padding: 6px;
    display: flex;
    align-items: center;

    > li {
      text-transform: uppercase;
      font-family: $sans-serif;
      font-size: 11px;
      padding: 6px;
      align-items: center;
      display: flex;

      > span {
        align-items: center;
        padding: 6px;
      }
    }
  }
  
}

.right-nav  {
  
  > ul {
    
    > li > .right_side_btn {
      text-transform: uppercase;
      font-family: $sans-serif;
      font-size: 11px;
      border: none;
      background: $light-blue;
      color: white;
      padding: 6px;
      border-radius: 3px;
    }
    
    > li:last-of-type {
    }
  }
  
  li {
    padding: 6px;
    align-items: center;
  }

  i {
    padding: 6px;
  }
}

.settings_button {
  padding: 6px;
  border: none;
  background-color: $lightest-gray;
  // background: $lightest-gray;
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $light-gray;
}
